{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "rules": {
    "react/jsx-filename-extension": 0,
    "import/prefer-default-export": 0,
    "react/jsx-props-no-spreading": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/stories.js"]}]
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
